In [1]:
print("hello python")

hello python

In [2]:
print(chinikesh)

NameError: name 'chinikesh' is not defined

In [3]:
print('vijay')

vijay

In [4]:
print(2,3,4)

2 3 4

In [5]:
print("34")

34

# data types:----

In [ ]:
string = a to z

integer = 0 - 9

float = 4.0, 5.5

complex = 45 + 8j

boolen = True / False

str = ("hello python")

list = [4,5,2.5, "hello", 45+8j, True]

tuple = ( 3,5,"python", False )

set = {4,6.7, "language"}

dict = { "a": 1, "b": 2, "c": 3 }

In [10]:
str = ("hello python")

In [11]:
name =  ( "chinikesh", "vijay", "mayuri" )

In [12]:
name_1 = "vijay"

In [13]:
name

('chinikesh', 'vijay', 'mayuri')

In [14]:
print(name)

('chinikesh', 'vijay', 'mayuri')

In [15]:
name_1

'vijay'

In [16]:
name_1 = "mayuri"

In [17]:
name_1

'mayuri'

In [18]:
1_name = "nikita"

SyntaxError: invalid decimal literal (1463689165.py, line 1)

In [19]:
name1 = "jashmin"

In [20]:
a_b = "aarti"

In [21]:
name_@ = "pratiksha"

SyntaxError: invalid syntax (2278956913.py, line 1)

In [22]:
_ = "megha"

In [23]:
& = "manisha"

SyntaxError: invalid syntax (3553881069.py, line 1)

In [26]:
#variable name can be only string, _, int. str will be used first and then use _, int

In [27]:
_3 = "vijay"

In [29]:
std_name = " student"

NameError: name 'string' is not defined