In [ ]:
iterable 
iterator
iteration

In [ ]:
iterable = list, tuple, set, dict, str

non-iterable = int, float, True

In [ ]:
iterator = for, while, iter

In [ ]:
iteration = action occur for iterable

# For loop

In [4]:
l = [1,2," ", 3,4,"sudh" ,"kumar" , 45.56, True]

In [5]:
for i in l:
    print(i)

1
2

3
4
sudh
kumar
45.56
True

In [7]:
for i in l:
    if type(i)==float:
        print(i)
    if type(i)==str:
        print("this is string data type")

this is string data type
this is string data type
this is string data type
45.56

In [8]:
var = "language"

In [9]:
for i in var:
    print(i)

l
a
n
g
u
a
g
e

In [10]:
var1 = "245898"

In [15]:
for i in var1:
    print("i")

i
i
i
i
i
i

In [20]:
var2 = 35634

In [21]:
for i in var2:
    print(i)

TypeError: 'bool' object is not iterable

In [24]:
for i in l :
    pass

In [26]:
l

[1, 2, ' ', 3, 4, 'sudh', 'kumar', 45.56, True]

In [25]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2

3
4
sudh
kumar
45.56
True
if for loop is going to complete itself the it will execute else

In [29]:
for i in l :
    print(i)
else:
    print("if for loop is going to complete itself the it will execute else ")

1
2

3
4
sudh
kumar
45.56
True
if for loop is going to complete itself the it will execute else

In [30]:
for i in l :
    print(i)
else:
    j = i+i
    print(j)

1
2

3
4
sudh
kumar
45.56
True
2

In [33]:
for i in l :
    if i == "sudh" :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2

3
4

In [34]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a

In [35]:
s = "sudhanshu"
for i in s :
    if i == 'n' :
        pass
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [36]:
t = (4,5,6,7,8,6,"sudh")

for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [37]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [38]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [47]:
for h in b:
    print(h)

4
5
6
7
8
sudh

In [48]:
d = {'key1' :"sudh" , 'contact' : "gmail" , "position" : "mentor"}

In [49]:
for i in d:
    print(i)

key1
contact
position

In [50]:
for i in d.values():
    print(i)

sudh
gmail
mentor

In [51]:
for i in d.keys():
    print(i)

key1
contact
position

In [52]:
for i in d.items():
    print(i)

('key1', 'sudh')
('contact', 'gmail')
('position', 'mentor')

In [53]:
lis = [1,3,4,6,8]

In [63]:
for i  in enumerate(lis):
    print(i)

(0, 1)
(1, 3)
(2, 4)
(3, 6)
(4, 8)

In [60]:
grocery = ['bread', 'milk', 'butter']

for item in enumerate(grocery):
    print(item)

(0, 'bread')
(1, 'milk')
(2, 'butter')

In [66]:
for count, item in enumerate(grocery):
    print(count,item)

0 bread
1 milk
2 butter

In [67]:
n = 5

for i in range(n):
    print(i)

0
1
2
3
4

In [68]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [96]:
for i in range(0,100,12):
    print("number", i, "-->","square of number\t",  end ="")
    print(i**2)       # "\t" used to tab space

number 0 --> square of number	0
number 12 --> square of number	144
number 24 --> square of number	576
number 36 --> square of number	1296
number 48 --> square of number	2304
number 60 --> square of number	3600
number 72 --> square of number	5184
number 84 --> square of number	7056
number 96 --> square of number	9216

In [90]:
lis

[1, 3, 4, 6, 8]

In [106]:
obj = iter(lis)

In [107]:
next(obj)

1

In [108]:
next(obj)

3

In [109]:
next(obj)

4

In [110]:
next(obj)

6

In [111]:
next(obj)

8

In [114]:
next(obj)

StopIteration: