In [1]:
# install mysql connection package
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d9/91/007a0d60fee8db4f7385075dc50bf62d2d359b417b374ec06b06ce6c2d64/mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB 330.3 kB/s eta 0:00:47
   ---------------------------------------- 0.1/15.4 MB 409.6 kB/s eta 0:00:38
    --------------------------------------- 0.2/15.4 MB 1.3 MB/s eta 0:00:13
   - -------------------------------------- 0.7/15.4 MB 3.1 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/15.4 MB 3.5 MB/s eta 0:00:05
   -- ------------------------------------- 1.1/15.4 MB 3.5 MB/s eta 0:00:05
   --- ------------------------------------ 1.3/15.4 MB 3.6 MB/s eta 0:00:04
   --- ------------------------------------ 1.3/15.4 MB 3.6 MB/s eta 0:00:04
   --- ------------------------------------ 1.3/15.4 MB 3.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.8/15.4 MB 3.6 MB/s eta 0:00:04
   ----- ---------------------------------- 2.0/15.4 MB 3.7 MB/s eta 0:00:04
   ----- ---------------------------------- 2.1/15.4 MB 3.5 MB/s eta 0:00:04
   ----- ---------------------------------- 2.2/15.4 MB 3.4 MB/s eta 0:00:04
   ----- ---------------------------------- 2.2/15.4 MB 3.4 MB/s eta 0:00:04
   ----- ---------------------------------- 2.2/15.4 MB 3.0 MB/s eta 0:00:05
   ------ --------------------------------- 2.4/15.4 MB 3.1 MB/s eta 0:00:05
   ------ --------------------------------- 2.6/15.4 MB 3.1 MB/s eta 0:00:05
   ------- -------------------------------- 2.8/15.4 MB 3.2 MB/s eta 0:00:04
   -------- ------------------------------- 3.1/15.4 MB 3.4 MB/s eta 0:00:04
   -------- ------------------------------- 3.3/15.4 MB 3.4 MB/s eta 0:00:04
   -------- ------------------------------- 3.5/15.4 MB 3.4 MB/s eta 0:00:04
   --------- ------------------------------ 3.6/15.4 MB 3.4 MB/s eta 0:00:04
   --------- ------------------------------ 3.6/15.4 MB 3.4 MB/s eta 0:00:04
   --------- ------------------------------ 3.6/15.4 MB 3.4 MB/s eta 0:00:04
   --------- ------------------------------ 3.9/15.4 MB 3.2 MB/s eta 0:00:04
   ---------- ----------------------------- 4.1/15.4 MB 3.3 MB/s eta 0:00:04
   ----------- ---------------------------- 4.5/15.4 MB 3.5 MB/s eta 0:00:04
   ------------ --------------------------- 4.7/15.4 MB 3.5 MB/s eta 0:00:04
   ------------ --------------------------- 4.9/15.4 MB 3.5 MB/s eta 0:00:03
   ------------- -------------------------- 5.1/15.4 MB 3.5 MB/s eta 0:00:03
   ------------- -------------------------- 5.3/15.4 MB 3.5 MB/s eta 0:00:03
   -------------- ------------------------- 5.4/15.4 MB 3.6 MB/s eta 0:00:03
   -------------- ------------------------- 5.6/15.4 MB 3.5 MB/s eta 0:00:03
   -------------- ------------------------- 5.8/15.4 MB 3.5 MB/s eta 0:00:03
   --------------- ------------------------ 5.9/15.4 MB 3.6 MB/s eta 0:00:03
   --------------- ------------------------ 6.1/15.4 MB 3.6 MB/s eta 0:00:03
   ---------------- ----------------------- 6.3/15.4 MB 3.6 MB/s eta 0:00:03
   ---------------- ----------------------- 6.5/15.4 MB 3.6 MB/s eta 0:00:03
   ----------------- ---------------------- 6.6/15.4 MB 3.6 MB/s eta 0:00:03
   ----------------- ---------------------- 6.8/15.4 MB 3.6 MB/s eta 0:00:03
   ------------------ --------------------- 6.9/15.4 MB 3.6 MB/s eta 0:00:03
   ------------------ --------------------- 7.1/15.4 MB 3.6 MB/s eta 0:00:03
   ------------------ --------------------- 7.3/15.4 MB 3.6 MB/s eta 0:00:03
   ------------------- -------------------- 7.4/15.4 MB 3.6 MB/s eta 0:00:03
   ------------------- -------------------- 7.6/15.4 MB 3.6 MB/s eta 0:00:03
   -------------------- ------------------- 7.8/15.4 MB 3.6 MB/s eta 0:00:03
   -------------------- ------------------- 7.9/15.4 MB 3.6 MB/s eta 0:00:03
   --------------------- ------------------ 8.1/15.4 MB 3.6 MB/s eta 0:00:03
   --------------------- ------------------ 8.3/15.4 MB 3.6 MB/s eta 0:00:02
   --------------------- ------------------ 8.4/15.4 MB 3.6 MB/s eta 0:00:02
   ---------------------- ----------------- 8.6/15.4 MB 3.6 MB/s eta 0:00:02
   ---------------------- ----------------- 8.8/15.4 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 8.9/15.4 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 9.1/15.4 MB 3.6 MB/s eta 0:00:02
   ------------------------ --------------- 9.3/15.4 MB 3.6 MB/s eta 0:00:02
   ------------------------ --------------- 9.5/15.4 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.7/15.4 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.9/15.4 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 10.0/15.4 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 10.2/15.4 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 10.4/15.4 MB 3.8 MB/s eta 0:00:02
   --------------------------- ------------ 10.6/15.4 MB 3.7 MB/s eta 0:00:02
   --------------------------- ------------ 10.7/15.4 MB 3.7 MB/s eta 0:00:02
   ---------------------------- ----------- 10.9/15.4 MB 3.7 MB/s eta 0:00:02
   ---------------------------- ----------- 11.1/15.4 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 11.3/15.4 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 11.5/15.4 MB 3.6 MB/s eta 0:00:02
   ------------------------------ --------- 11.7/15.4 MB 3.8 MB/s eta 0:00:01
   ------------------------------ --------- 11.8/15.4 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 12.0/15.4 MB 3.7 MB/s eta 0:00:01
   ------------------------------- -------- 12.2/15.4 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 12.4/15.4 MB 3.7 MB/s eta 0:00:01
   -------------------------------- ------- 12.6/15.4 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.7/15.4 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.9/15.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 13.1/15.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------- ----- 13.3/15.4 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 13.5/15.4 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 13.6/15.4 MB 3.8 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.4 MB 3.8 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.4 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 3.9 MB/s eta 0:00:01
   ------------------------------------- -- 14.4/15.4 MB 3.9 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.4 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 14.7/15.4 MB 3.8 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.1/15.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 3.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [3]:
# import module
import mysql.connector as conn

In [72]:
# make a connection with mysql
mydb = conn.connect(host="localhost", user="root", password="Betul3146")

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000265C0D1B9D0>

In [73]:
#create a database in mysql 
mycursor = mydb.cursor()

In [22]:
mycursor.execute("CREATE DATABASE df")

In [77]:
print(mycursor)

CMySQLCursor: use df

In [78]:
#show database
mycursor.execute("SHOW DATABASES")
mycursor.fetchall()
#for x in result:
    #print(x)

[('class_11',),
 ('class_7',),
 ('demo',),
 ('df',),
 ('information_schema',),
 ('key',),
 ('mysql',),
 ('neuron',),
 ('operation',),
 ('performance_schema',),
 ('sakila',),
 ('sales',),
 ('sys',),
 ('test_partition',),
 ('trainning',),
 ('win_fun',),
 ('world',)]

In [20]:
mycursor.execute("DROP DATABASE df")

In [79]:
mycursor.execute("SHOW DATABASES")
mycursor.fetchall()

[('class_11',),
 ('class_7',),
 ('demo',),
 ('df',),
 ('information_schema',),
 ('key',),
 ('mysql',),
 ('neuron',),
 ('operation',),
 ('performance_schema',),
 ('sakila',),
 ('sales',),
 ('sys',),
 ('test_partition',),
 ('trainning',),
 ('win_fun',),
 ('world',)]

In [80]:
mycursor.execute("USE df")

In [25]:
#CREATE TABLE 
mycursor.execute("CREATE TABLE customer (name VARCHAR(255), address VARCHAR(255))")

In [26]:
# HERE WE EDIT THE TABLE ADD ANOTHER COLUMN "MOB", WHICH IS AUTOINCREMENTED AND ALSO PRIMARY KEY
mycursor.execute("ALTER TABLE customer ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [27]:
#inserting single row 
# NO NEED OF GIVE PARAMETER WHICH IS AUTOINCEMENTED
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("ROHIT", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()

In [28]:
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [29]:
# INSERT MANY VALUE AT A TIME
sql = "INSERT INTO customer(name, address) VALUES (%s, %s)"
val = [("ROHIT", "Highway 21"),
  ('Peter', 'Lowstreet 4'),
  ('Ammy', 'Apple st 652'),
  ('Huma', 'Mountain 21')]

In [30]:
#COMMIT THE VALUE WHICH WE INSERTED 
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

4 was inserted.

In [31]:
#here again inserted a valus but will show the saperate id name of last added row
sql = "INSERT INTO customer (name, address) VALUES (%s, %s)"
val = ("Mohit", "sainagar")
mycursor.execute(sql, val)

mydb.commit()
print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 6

In [32]:
# for view all the existing records available in table
mycursor.execute("SELECT * FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
      print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Ammy', 'Apple st 652', 4)
('Huma', 'Mountain 21', 5)
('Mohit', 'sainagar', 6)

In [33]:
# here we can view seperately induvisual column like here we are showing name and address

mycursor.execute("SELECT name, address FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('ROHIT', 'Highway 21')
('ROHIT', 'Highway 21')
('Peter', 'Lowstreet 4')
('Ammy', 'Apple st 652')
('Huma', 'Mountain 21')
('Mohit', 'sainagar')

In [34]:
mycursor.execute("SELECT name FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('ROHIT',)
('ROHIT',)
('Peter',)
('Ammy',)
('Huma',)
('Mohit',)

In [35]:
# we filtering the data by using where condition 
sql = "SELECT * FROM customer WHERE address ='sainagar'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Mohit', 'sainagar', 6)

In [36]:
# with only single word in syllabus we are applying filter  "Wildcard Character"
sql = "SELECT * FROM customer WHERE address LIKE '%652%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ammy', 'Apple st 652', 4)

In [37]:
### ?????????????
sql = "SELECT * FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

In [38]:
# using order by short the list  
sql = "SELECT * FROM customer ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ammy', 'Apple st 652', 4)
('Huma', 'Mountain 21', 5)
('Mohit', 'sainagar', 6)
('Peter', 'Lowstreet 4', 3)
('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)

In [39]:
# order by descending order
sql = "SELECT * FROM customer ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Mohit', 'sainagar', 6)
('Huma', 'Mountain 21', 5)
('Ammy', 'Apple st 652', 4)

In [40]:
#short by ascending order

sql = "SELECT * FROM customer ORDER BY name ASC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ammy', 'Apple st 652', 4)
('Huma', 'Mountain 21', 5)
('Mohit', 'sainagar', 6)
('Peter', 'Lowstreet 4', 3)
('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)

In [41]:
# Delete record usning where condition 

sql = "DELETE FROM customer WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [42]:
# It is considered a good practice to escape the values of any query, also in delete statements.

# This is to prevent SQL injections, which is a common web hacking technique to destroy or misuse your database.

# The mysql.connector module uses the placeholder %s to escape values in the delete statement: 

sql = "DELETE FROM customer WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

0 record(s) deleted

In [ ]:
# If the table you want to delete is already deleted, or for any other reason does not exist, you can use the IF EXISTS keyword to avoid getting an error.

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

In [43]:
# Update table Overwrite the address column from "Valley 345" to "Canyon 123":

sql = "UPDATE customer SET address = 'sainagar-2' WHERE address = 'sainagar'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [44]:
# Prevent SQL Injection: Escape values by using the placeholder %s method:

sql = "UPDATE customer SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

0 record(s) affected

In [45]:
# you can limit the record and the row using limit 

mycursor.execute("SELECT * FROM customer LIMIT 3")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)

In [52]:
# you can limit the record and the row using limit 

mycursor.execute("SELECT * FROM customer LIMIT 2, 3")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Peter', 'Lowstreet 4', 3)
('Ammy', 'Apple st 652', 4)
('Mohit', 'sainagar-2', 6)

In [48]:
# you can limit the record and the row using limit 

mycursor.execute("SELECT * FROM customer")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('ROHIT', 'Highway 21', 1)
('ROHIT', 'Highway 21', 2)
('Peter', 'Lowstreet 4', 3)
('Ammy', 'Apple st 652', 4)
('Mohit', 'sainagar-2', 6)

In [55]:
# offset Start from position 3, and return 5 records:

mycursor.execute("SELECT * FROM customer LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Peter', 'Lowstreet 4', 3)
('Ammy', 'Apple st 652', 4)
('Mohit', 'sainagar-2', 6)

In [56]:
query = """
    SELECT name, address,
    CASE
        WHEN  id > 3 THEN '4-6'
        ELSE '1-3'
    END AS priority
    FROM customer
"""

In [57]:
mycursor.execute(query)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('ROHIT', 'Highway 21', '1-3')
('ROHIT', 'Highway 21', '1-3')
('Peter', 'Lowstreet 4', '1-3')
('Ammy', 'Apple st 652', '4-6')
('Mohit', 'sainagar-2', '4-6')

In [62]:
procedure_query = """
    DELIMITER //
    CREATE PROCEDURE ProcedureName()
    BEGIN
        SELECT * FROM customer;
    END //
    DELIMITER ;
"""

In [63]:
mycursor.execute(procedure_query)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DELIMITER //
    CREATE PROCEDURE ProcedureName()
    BEGIN
        SELECT * FRO' at line 1

In [87]:
create_procedure_query = """
    CREATE PROCEDURE YourProcedure()
    BEGIN
        SELECT * FROM customer;
    END 
"""

In [89]:
mycursor.execute(create_procedure_query )

In [90]:
mydb.commit()

In [69]:
#mycursor.close()
#mydb.close()

In [113]:
mycursor.callproc('YourProcedure')

()

In [112]:
mycursor.callproc('YourProcedure')
mycursor.fetchall()
for row in result:
    print(row)

In [103]:
procedure_query = """
    CREATE PROCEDURE pro_2(IN col VARCHAR(255))
    BEGIN
        SELECT col FROM customer;
    END
"""

In [104]:
mycursor.execute(procedure_query)