In [1]:
class person:     #attributes     # __inti__ = constructor,  self is a pointer to class
    
    def __init__(self, name, surname, emailid , year_of_birth):   # method 
        
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth

In [2]:
am =person("amit", "kumar", "amit@gmail", 30)

In [3]:
am.surname

'kumar'

In [4]:
am.year_of_birth

30

In [5]:
ar = person("arjit", "singh", "arjit@gmail", 25)

In [6]:
ar.name

'arjit'

In [7]:
am.name

'amit'

In [8]:
print(am.emailid, ar.emailid)

amit@gmail arjit@gmail

In [9]:
print(f"{ar.emailid, ar.name}")

('arjit@gmail', 'arjit')

In [ ]:
*****************************************

In [10]:
class person:

    def __init__(self, name, surname, emailid, year_of_birth):
        self.name = name
        self.surname = surname
        self.emailid = emailid
        self.year_of_birth = year_of_birth
                                              # last constructed method can only use
        
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname 
        self. year_of_birth= year_of_birth  
        
    def age(self, curretn_year):
        return curretn_year - self.year_of_birth

In [12]:
amit = person("amit", "kumar",  1993)

In [13]:
amit.surname

'kumar'

In [14]:
amit.age(2023)

30

In [ ]:
********************************************

In [16]:
class person :

    def age(self, current_year , year_of_birth):
        return current_year - year_of_birth

    def email_id_input(self, email_id ):
        print("take and mail id form a person and print it " , email_id)

    def ask_name(self):
        name = input("tell me your name ")
        return name

    def ask_dob(self):
        dob = input("tell me your date of birth ")
        return dob

In [18]:
obj = person()

In [20]:
obj.ask_name()

tell me your name kartik

'kartik'

In [21]:
obj.ask_dob()

tell me your date of birth 1999

'1999'

In [23]:
obj.age(2023, 1990)

33

In [24]:
def age(current_year , year_of_birth):
        return current_year - year_of_birth

In [25]:
age(2023, 2000)

23

In [ ]:
obj.

In [ ]:
******************************************************

In [26]:
class person1 :
    
    def __init__(self , name ,surname , yob):
        self._name1 = name                 # single _ means private 
        self.__surname1 = surname          #  double __ means protective
        self.yob1 = yob                    # public

In [27]:
sudh = person1("amit" , "kumar" , 1990)

In [28]:
sudh.yob1

1990

In [29]:
sudh._name1

'amit'

In [31]:
sudh._person1__surname1

'kumar'

In [ ]:
******************************************************

In [ ]:
import test1
print(test1)
obj3 = test1.person1("amit" , "kumar" , 1994)
print(obj3.yob1)
print(obj3._name1)
print(obj3._person1__surname1)

In [45]:
class person :                             # parents class

    name = "amit"
    surname = "kumar"
    yob = 1990

    def age(self , current_year ):
        return current_year - self.yob
    
    def age1(self , current_year ):
        return current_year - self.yob



class employee(person) : #child class
    name = "nitin"

In [33]:
obj = person()
print(obj.age(2022))
print(obj.age1(2022))

32
32

In [34]:
obj.surname

'kumar'

In [46]:
emp = employee()

In [47]:
emp.name

'nitin'

In [49]:
emp.surname

'kumar'

In [ ]:
***********************************************

In [51]:
class car :                 #perent class   
                         # inheritence 
    def __init__(self , body , engin , tyre):
        self.body = body
        self.engin = engin
        self.tyre = tyre

    def milage (self):
        print("milage of this car ") 
        
        
class tata(car):                #child class
    pass

In [52]:
t = tata("solid1" , "v8" , "radial1")
print(t)
print(t.milage())

<__main__.tata object at 0x0000027243D67B10>
milage of this car
None

In [55]:
pobj = car("hatchback", "v4", "radial")

In [56]:
pobj.engin

'v4'

In [57]:
t.engin

'v8'

In [ ]:
********************************************************8888

In [58]:
class bank :             # perents class 
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")


class HDFC_bank(bank):             # child class
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")

class icici(HDFC_bank):          # child class
    pass                        

# multilevel inheritence

In [59]:
obj = icici()

In [ ]:
obj.

In [60]:
hobj = HDFC_bank()

In [61]:
hobj.hdfc_to_icici()

this will show you all the transaction happend to icici throuhg hdfc

In [ ]:
***********************************************************

In [62]:
class bank :
    def transaction(self) :
        print("total transaction value ")
    def account_opening(self):
        print("this will show you your account open status ")
    def deposite(self):
        print("this will show your deposited amount")
    def test(self):                          # override code
        print("this is a test methond form bank class ")


class HDFC_bank:
    def hdfc_to_icici(self):
        print("this will show you all the transaction happend to icici throuhg hdfc")
    def test(self):           #override code
        print("this is a test method form hdfc bank ")

class ineron_bank:
    def account_status_icici(self):
        print("print a account status in icici ")

class icici(bank, HDFC_bank, ineron_bank):      # multiple inheritence
    pass

In [63]:
obji = icici()

In [65]:
obji.test()

this is a test methond form bank class