In [1]:
print("Hello World from Python!")

Hello World from Python!

In [2]:
print('Single quotes also works!')

Single quotes also works!

In [3]:
"Hello World from Python!"

'Hello World from Python!'

In [4]:
'Single quotes also works!'

'Single quotes also works!'

In [6]:
print("Multiline output \ncan also be printed.")

Multiline output
can also be printed.

In [10]:
tup1 = ('String concatenation', 'also', 'works.')

In [11]:
type(tup1)

tuple

In [12]:
tup1

('String concatenation', 'also', 'works.')

In [13]:
print('String concatenation', 'also', 'works.')

String concatenation also works.

In [14]:
print('3+4')   #treats '3+4' as string and outputs as is

3+4

In [15]:
print(3+4)

7

In [16]:
print('3 + 4 = ', (3+4) )  # strings and expressions can be concatenanted in the single print function call

3 + 4 =  7

In [17]:
print('age ', 35, 'name', 'ABC')

age  35 name ABC

In [18]:
print("This", "is", "first", "line")

This is first line

In [19]:
print("This", "is", "first", "line", sep=", ")

This, is, first, line

In [20]:
print("This", "is", "first", "line", sep="# ")

This# is# first# line

In [21]:
print("This", "is", "first", "line", sep=" ")

This is first line

In [22]:
print("This", "is", "first", "line", sep=". ")

This. is. first. line

In [23]:
print("This", "is", "first", "line", sep="$")

This$is$first$line

In [24]:
"#"

'#'

In [25]:
print("this is first line")
print("this is second line")

this is first line
this is second line

In [26]:
print("this is first line", end='.')
print("this is second line")

this is first line.this is second line

In [27]:
print("this is first line", end=' ')
print("this is second line")

this is first line this is second line

In [29]:
print("this is first line", end=' & ')
print("this is second line")

this is first line & this is second line

In [31]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [32]:
for i in range(0,5):   # for loop  in the for loop variable will be itterate one by one
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

In [33]:
for i in range(5):
    print(i)           # space before print is called indantation

0
1
2
3
4

In [34]:
list = [3,6,"u", 4.6, [1,2,3]]

In [37]:
for u in list:
    print(u)

3
6
u
4.6
[1, 2, 3]

In [38]:
str = "python"

In [39]:
for i in str:
    print(i)

p
y
t
h
o
n

In [40]:
intt = 5677

In [41]:
for i in intt:
    print(i)

TypeError: 'int' object is not iterable

In [42]:
inst = "5677"

In [43]:
for i in inst:
    print(i)

5
6
7
7

In [45]:
a = 123
b = 282

print('123 - 282 = ', a-b)

123 - 282 =  -159

In [1]:
print("this", "is", "first", "line", sep= '*')

this*is*first*line