In [5]:
a = input()

amit

In [6]:
a

'amit'

In [ ]:
num1 = int(input("Enter 1st num"))

num2 = int(input("Enter 2nd num"))

In [8]:
num1 = input("Enter 1st num ")

Enter 1st num 20

In [9]:
type(num1)

str

In [10]:
input()

%

'%'

In [11]:
num1 = int(input("Enter 1st num"))

num2 = float(input("Enter 2nd num"))

Enter 1st num20
Enter 2nd num10

In [12]:
type(num1)

int

In [13]:
type(num2)

float

In [14]:
name = input('What is your name? ')
print(name)

What is your name?4555
4555

In [15]:
type(name)

str

In [18]:
name = input('What is your name?')

What is your name?amit

In [19]:
print("Welcome", name)

Welcome amit

In [20]:
age = input('What is your age? ')


print("You have entered age as ", age)


print("Type : " , type(age))

What is your age? 30
You have entered age as  30
Type :  <class 'str'>

In [22]:
age = input('What is your age? ')
modified_age = int(age)
print()
print("You have entered age as ", modified_age)
print()
print("Type : " , type(modified_age))

What is your age? 30

You have entered age as  30

Type :  <class 'int'>

In [23]:
age = input('What is your age? ')
print()
print("You have entered age as ", int(age))
print()
print("Type : " , type(age))

What is your age? 30

You have entered age as  30

Type :  <class 'str'>

In [24]:
age

'30'

In [25]:
int(age)

30

In [26]:
float(age)

30.0

In [27]:
type(age)

str

In [29]:
list(age)

['3', '0']

In [30]:
set(age)

{'0', '3'}

In [31]:
dict(age)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [28]:
tuple(age)

('3', '0')

In [32]:
salary = input('What is your salary? ') 

modified_salary = float(salary)

print("You have entered salary as ", modified_salary)

print("Type : " , type(modified_salary))

What is your salary? 40000
You have entered salary as  40000.0
Type :  <class 'float'>

In [33]:
my_age = eval(input('What is your age?\n'))
print()
print("You have entered age as ", my_age)
print()
print("Type : " , type(my_age))

What is your age?
30

You have entered age as  30

Type :  <class 'int'>

In [35]:
my_age = eval(input('What is your age?\n'))
print()
print("You have entered age as ", my_age)
print()
print("Type : " , type(my_age))

What is your age?
30.5

You have entered age as  30.5

Type :  <class 'float'>

In [37]:
my_age = eval(input('What is your age?\n'))
print()
print("You have entered age as ", my_age)
print()
print("Type : " , type(my_age))

What is your age?
True

You have entered age as  True

Type :  <class 'bool'>

In [39]:
my_age = eval(input('What is your age?\n'))
print()
print("You have entered age as ", my_age)
print()
print("Type : " , type(my_age))

What is your age?
thirteen

NameError: name 'thirteen' is not defined

In [40]:
my_age = eval(input('What is your age?\n'))
print()
print("You have entered age as ", my_age)
print()
print("Type : " , type(my_age))

What is your age?
33 + 8i

SyntaxError: invalid decimal literal (<string>, line 1)

In [41]:
my_total_marks = eval(input('Enter your marks\n'))

#Enter an expression like 23 + 34 + 45 

print("You have entered age as ", my_total_marks)

Enter your marks
45+50+80+65
You have entered age as  240

In [42]:
my_total_marks = int(input('Enter your marks\n'))

#Enter an expression like 23 + 34 + 45 

print("You have entered age as ", my_total_marks)

Enter your marks
33+44

ValueError: invalid literal for int() with base 10: '33+44'

In [43]:
ask_num = eval(input('Enter the number : '))
sq_num = ask_num * ask_num
cub_num = pow(ask_num,3)

print('Square of ' + str(ask_num) + ' is : ' , str(sq_num))
print('Cube of ' + str(ask_num) + ' is : ' , str(cub_num))

Enter the number : 4
Square of 4 is :  16
Cube of 4 is :  64

In [44]:
ask_num = eval(input('Enter the number : '))
sq_num = ask_num ** 2
cub_num = ask_num ** 3

print('Square of ' + str(ask_num) + ' is : ' , str(sq_num))
print('Cube of ' + str(ask_num) + ' is : ' , str(cub_num))

Enter the number : 4
Square of 4 is :  16
Cube of 4 is :  64

In [45]:
num1 = eval(input('Enter 1st Number : '))
num2 = eval(input('Enter 2nd Number : '))
num3 = eval(input('Enter 3rd Number : '))

total = num1 + num2 + num3

avg = total/3

print("Numbers entered are : " + str(num1) + " " +str(num2) + " " + str(num3) + 
      " and their totals are : " + str(total) + " and avg is : " + str(avg))

Enter 1st Number : 10
Enter 2nd Number : 20
Enter 3rd Number : 30
Numbers entered are : 10 20 30 and their totals are : 60 and avg is : 20.0

In [46]:
num1 = eval(input('Enter 1st Number : '))
num2 = eval(input('Enter 2nd Number : '))
num3 = eval(input('Enter 3rd Number : '))

total = num1 + num2 + num3

avg = total/3

Enter 1st Number : 10
Enter 2nd Number : 20
Enter 3rd Number : 30

In [53]:
print(" these are input num:-", num1,num2,num3,"\n","total of the numbers:--",total,"\n","avg of the number:-", avg)

 these are input num:- 10 20 30
 total of the numbers:-- 60
 avg of the number:- 20.0

In [55]:
basic_sal = eval(input('Enter basic salary: '))

hra = 0.1 * basic_sal

conv_allw = 0.5*basic_sal

total_sal = basic_sal + hra + conv_allw

print("Basic Salary : " , str(basic_sal))
print("HRA Components : ", str(hra))
print("Conveyance  Allowance : " , str(conv_allw))
print("Total Salary : " ,str(total_sal))

Enter basic salary: 40000
Basic Salary :  40000
HRA Components :  4000.0
Conveyance  Allowance :  20000.0
Total Salary :  64000.0