# Basic of python

In [1]:
print(Smith) ##for printing

NameError: name 'Smith' is not defined

In [2]:
print("Smith")

Smith

In [3]:
name = "smith"

In [4]:
print(name)

smith

In [5]:
type(print('Smith')) ##type is used to check the data type

Smith

NoneType

In [7]:
type(print('Smith'))

Smith

NoneType

In [ ]:
a - z   -->  str
0- 9    -->  int
0.5     -->  float
56 + 7j -->  complex
True/False -->  boolen
( )     -->  str
( )     -->  tuple
[ ]     -->  list
{ }     -->  set
{ }     -->  dict

In [ ]:
name    = "hello python"

name1   = "hello python"

name_1  =  "hello python"

1name   =  "hello python"

1_name  =  "hello python"

name$   =   "hello python"

__name  =  "hello python"

_____   =  "hello python"

6576    =  "hello python"

_22   =    "hello python"

name lastname = "hello python"

name# = "hello python"

In [8]:
name    = "hello python"

In [9]:
name1   = "hello python"

In [10]:
name_1  =  "hello python"

In [11]:
1name   =  "hello python"

SyntaxError: invalid decimal literal (2783300272.py, line 1)

In [12]:
1_name  =  "hello python"

SyntaxError: invalid decimal literal (1783402476.py, line 1)

In [13]:
name$   =   "hello python"

SyntaxError: invalid syntax (599391388.py, line 1)

In [14]:
__name  =  "hello python"

In [15]:
_____   =  "hello python"

In [16]:
6576    =  "hello python"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (221964919.py, line 1)

In [17]:
_22   =    "hello python"

In [18]:
name lastname = "hello python"

SyntaxError: invalid syntax (2120346472.py, line 1)

In [19]:
name # = "hello python"

'hello python'

In [ ]:
print()
len()
range()
str()
list()
set()
dict()
float()
tuple()
complex()
bool()
int()
type()
input()

In [21]:
lastname = "kunal"

In [22]:
name = "vijay"

In [23]:
last_name = "chinikesh"

In [24]:
lastname

'kunal'

In [27]:
name

'vijay'

In [26]:
last_name

'chinikesh'

In [28]:
name2 = "chinikesh"

In [29]:
last_name

'chinikesh'

In [30]:
name2

'chinikesh'

In [31]:
name2 = "vijay"

In [32]:
name2

'vijay'

In [36]:
name = "chinikesh"

In [33]:
age = 23

In [37]:
salary = 20000.0

In [35]:
status = "mingle"

In [40]:
type(name)

str

In [41]:
type(age)

int

In [42]:
type(salary)

float

In [43]:
type(status)

str

In [50]:
print(name,age,salary, "   " ,status)

chinikesh 23 20000.0     mingle

In [51]:
name

'chinikesh'

In [52]:
len(name)

9

In [53]:
len(salary)

TypeError: object of type 'float' has no len()

In [54]:
len(age)

TypeError: object of type 'int' has no len()

In [56]:
tuple1 = ( "vijay", "chinikesh", "kunal")

In [58]:
type(tuple1)

tuple

In [59]:
len(tuple1)

3

In [76]:
prara = "3 numbers from 3 till 19 by skipping 2 numbers in between (step size-1)"

In [79]:
type(prara)

str

In [80]:
len(prara)

72

In [83]:
sr_1 = ("kunal is banker")

t_1 = ("kunal", "is", "banker")

t_2 = ("kunal", "is", "banker", 33, 6.8, True)

l_1 = ["kunal", "is", "banker", 33, 6.8, True]

s_1  = {"kunal", "is", "banker", 33, 6.8, True}

d_1 = { "name" : "kunal", "job" :"banker", "age" : 33,  "status": True }

In [84]:
type(sr_1)

str

In [85]:
type(t_1)

tuple

In [86]:
type(t_2)

tuple

In [87]:
type(l_1)

list

In [88]:
type(s_1)

set

In [89]:
type(d_1)

dict

In [90]:
len(sr_1)

15

In [91]:
len(t_1)

3

In [92]:
len(t_2)

6

In [93]:
len(l_1)

6

In [94]:
len(s_1)

6

In [95]:
len(d_1)

4